@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    list-style: none;
    color: aliceblue;
    
}
body{
    background: #22272e;
}

header{
    display: flex;
    background: #000020;
}


#nav-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#logo-header{
    width: 250px;
    height: 250px;
}